/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

/* Home section styles */
#home {
    padding: 50px 0;
    text-align: center;
}

.hero-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-content img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 30px;
}

.intro {
    text-align: left;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.intro p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* About section styles */
.about {
    padding: 50px 0;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.about p {
    font-size: 18px;
    margin-bottom: 15px;
}

.about a {
    color: #007BFF;
}

/* Publications section styles */
.publications {
    padding: 50px 0;
}

.publications h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.publication-item {
    margin-bottom: 30px;
}

.publication-item h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.publication-item li {
    margin-bottom: 10px;
}

.publication-item li strong {
    font-size: 18px;
}

.publication-item li p {
    font-size: 16px;
}

.publication-item li a {
    color: #007BFF;
}

/* Contact section styles */
.contact {
    padding: 50px 0;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 15px;
}

.contact a {
    color: #007BFF;
}

/* Footer section styles */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

.footer p {
    margin: 0;
}

/* Media Queries */
@media (max-width: 600px) {
    .hero-content {
        flex-direction: column;
        align-items: center;
    }

    .hero-content img {
        margin-bottom: 20px;
    }
}


/* Add custom style for J1 */
.j1:before {
    content: "J1";
    background-color: #007BFF;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 8px;
}

