/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #007bff;
  padding: 10px 0;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav li {
  margin: 0 15px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Home Section styles */
#home {
  text-align: center;
  padding: 50px 0;
}

#home img {
  width: 200px;
  border-radius: 50%;
}

.intro h1 {
  margin-top: 20px;
  font-size: 30px;
}

.intro p {
  margin-bottom: 20px;
  font-size: 18px;
}

/* About Section styles */
#about {
  padding: 50px 0;
}

#about h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

#about p {
  font-size: 16px;
  line-height: 1.6;
}

/* Publications Section styles */
#publications {
  padding: 50px 0;
}

#publications h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

#publications ul {
  list-style: none;
}

#publications li {
  margin-bottom: 20px;
}

#publications p {
  font-size: 16px;
}

#publications a {
  color: #007bff;
  text-decoration: none;
}

/* Projects Section styles */
#projects {
  padding: 50px 0;
}

#projects h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

#projects ul {
  list-style: none;
}

#projects li {
  margin-bottom: 20px;
}

/* Contact Section styles */
#contact {
  padding: 50px 0;
}

#contact h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

#contact p {
  font-size: 16px;
}

/* Footer Section styles */
footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  font-size: 14px;
}


.container {
    display: flex;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 2;
    padding-left: 20px;
}

.profile img {
    max-width: 100%;
}

.contact-info {
    margin-top: 20px;
}

.contact-info h2 {
    margin-bottom: 10px;
}




