/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

/* Add styles for the contact and profile section */
#contact-profile {
    display: flex;
    justify-content: space-between;
}

/* Add styles for the contact info */
.contact {
    flex-basis: 30%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.contact p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Add styles for the profile section */
.profile {
    flex-basis: 65%;
    text-align: center;
}

.profile img {
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow to the photo */
}

.profile h1 {
    font-size: 28px;
    margin-top: 20px;
}

.profile p {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Add styles for the navigation menu */
header {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

/* Add styles for the sections */
section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    line-height: 1.6;
}

.publication-item {
    margin-bottom: 40px;
}

.publication-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.publication-item ul {
    list-style-type: none;
    padding-left: 0;
}

.publication-item li {
    margin-bottom: 10px;
}

.publication-item li p {
    font-size: 16px;
}

/* Add styles for the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}


/* 
/* Add custom style for J1 */
/* .j1:before {
    content: "J1";
    background-color: #007BFF;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 8px; */
} */

